html {
  font-size: 62.5%; }

body {
  font-size: 1.8em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "TeX Gyre Schola", serif;
  color: #172D45;
  background: #f8f8f8;
  -webkit-font-smoothing: antialiased; }

footer {
  padding: 2em 0em;
  color: #999;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  background: #333; }

footer a, footer a:visited {
  color: inherit;
  text-decoration: underline; }

a, a:visited {
  color: #305F91;
  transition: 0.2s; }

a:hover {
  color: #4A91DE; }

.nowrap {
  white-space: nowrap; }

h1 {
  margin-top: 3em;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 6.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

p {
  margin-top: 0;
  line-height: 1.6em; }

hr {
  margin: 2em 0em; }

#particles-js {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 1000px;
  background-color: #f8f8f8;
  background-position: 50% 50%; }

.content-container {
  width: 680px;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 10em; }

.drop-cap {
  float: left;
  height: 60px;
  width: 100px;
  font-size: 4em;
  line-height: 80px;
  text-align: center; }

.diagram {
  border: 1px solid #bbb;
  background: #eee;
  border-radius: 4px; }

figcaption {
  margin-bottom: 40px;
  font-style: italic;
  text-align: center;
  line-height: 1.8em; }

.graph {
  position: relative;
  margin: 50px auto 20px;
  width: 100%;
  height: 650px;
  box-sizing: border-box; }

.graph .x-axis {
  position: absolute;
  left: 50%;
  top: 325px;
  margin-left: -300px;
  width: 600px;
  height: 1px;
  background: #172d45; }

.graph .y-axis {
  position: absolute;
  left: 50%;
  top: 25px;
  width: 600px;
  height: 1px;
  background: #172d45;
  transform-origin: 0% 0%;
  transform: rotate(90deg); }

.graph .axis-tip {
  position: absolute; }

.graph .triangle-y {
  left: 333px;
  top: 25px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #172d45; }

.graph .triangle-x {
  right: 30px;
  bottom: 317px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 10px solid #172d45;
  border-bottom: 6px solid transparent; }

.graph .labelx {
  position: absolute;
  top: 53%;
  right: 40px; }

.graph .labely {
  position: absolute;
  left: 53%;
  top: 40px; }

.graph .circle {
  position: absolute;
  left: 50%;
  top: 75px;
  margin-left: -250px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 1px dashed #172d45;
  opacity: 0.5; }

.graph .ket {
  position: absolute;
  top: 325px;
  left: 50%;
  width: 250px;
  height: 1px;
  background: #CF665B;
  transform-origin: 0% 0%;
  animation: ketSpin 10s infinite ease-in-out; }

.tree-diagram {
  margin: 2em auto;
  padding: 3em 0 3em 4.5em;
  overflow: auto; }

.tree-diagram .column {
  position: relative;
  float: left;
  opacity: 0; }

.tree-diagram .column.zeroth {
  padding: 0em 2em;
  animation: fadeIn0 10s infinite; }

.tree-diagram .column.first {
  padding: 0em 2em;
  animation: fadeIn1 10s infinite; }

.tree-diagram .column.second {
  padding: 0em 2em;
  animation: fadeIn2 10s infinite; }

.tree-diagram .ket {
  display: block; }

.tree-diagram .split {
  position: absolute;
  height: 50px;
  width: 50px;
  border-bottom: 1px solid #172D45;
  border-left: 1px solid #172D45;
  transform: rotate(45deg);
  overflow: auto;
  left: -10px; }

.tree-diagram .first.column .split {
  top: 7.7em; }

.tree-diagram .second.column .split:first-child {
  top: 3.2em; }

.tree-diagram .second.column .split:nth-child(2) {
  top: 12.2em; }

.column.zeroth .ket {
  height: 18em;
  line-height: 18em; }

.column.first .ket {
  height: 9em;
  line-height: 9em; }

.column.second .ket {
  height: 4.5em;
  line-height: 4.5em; }

.column.second .purple.ket {
  animation: interfere 10s infinite ease-in-out; }

@keyframes ketSpin {
  0% {
    opacity: 0;
    transform: rotate(-45deg); }
  10% {
    opacity: 1; }
  20% {
    transform: rotate(-45deg);
    opacity: 1; }
  50% {
    transform: rotate(-405deg);
    opacity: 1; }
  60% {
    transform: rotate(-405deg);
    opacity: 1; }
  70% {
    transform: rotate(-405deg);
    opacity: 0; }
  100% {
    transform: rotate(-405deg);
    opacity: 0; } }
@keyframes fadeIn0 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  80% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes fadeIn1 {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes fadeIn2 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  30% {
    opacity: 1; }
  80% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes interfere {
  0% {
    opacity: 1; }
  42% {
    color: #172D45;
    opacity: 1; }
  45% {
    color: #CF665B;
    opacity: 1; }
  60% {
    opacity: 1; }
  65% {
    opacity: 0; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
